/* expandable-graph-card.css */
.expandable-graph-card
{
  max-width: 391px;
}

.expandable-graph-card video
{
  width: 100%;
}

.expandable-graph-card .owner
{
  color: rgba(0, 0, 0, 0.54);
  padding-top: 0;
  font-size: 14px;
}

.expandable-graph-card .text-icon-button
{
  font-size:17px;
  line-height:22px;
}

.expandable-graph-card .fa
{
  font-size:16px;
  line-height:20px;
  margin-right:0px;
}

.expandable-graph-card md-list
{
  padding: 0px;
}

.expandable-graph-card md-list-item,
.expandable-graph-card md-list-item .md-button
{
  padding: 0px;
}
.expandable-graph-card md-list-item.md-2-line,
.expandable-graph-card md-list-item.md-2-line > .md-no-style,
.expandable-graph-card md-list-item.md-2-line::before,
.expandable-graph-card md-list-item.md-2-line > .md-no-style::before
{
  min-height: 0px;
}

/* Tags */
.expandable-graph-card .tag
{
  font-size: 10px;
  border: 1px solid #C0C0C0;
  padding: 2px;
  color: #af111c;
}

/* Animations */
.expandable-graph-card .rotate-anticlockwise
{
    transition: 250ms ease all;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.expandable-graph-card .rotate-clockwise
{
    transition: 250ms ease all;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.expandable-graph-card .animate-card-body.ng-hide
{
  opacity: 0;
}
.expandable-graph-card .animate-card-body.ng-hide-add,
.expandable-graph-card .animate-card-body.ng-hide-remove
{
  transition: all linear 200ms;
}