<!-- graphs.compare.html -->
<md-content id="graph-content" md-theme="graphs_page" layout="column" layout-fill="">

  <div ui-view="toolbar"></div>

  <md-toolbar md-theme="toolbar_panel" style="box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ui-sref="app.cctool_graphs" aria-label="Back">
        <md-tooltip md-direction="bottom">Back to graphs</md-tooltip>
        <md-icon>chevron_left</md-icon>
      </md-button>
      <h2>
        <span>Graph Comparison</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content flex="">
    <div layout="row" flex>
      <div ng-repeat="graph in vm.graphs track by $index" flex>
        <div class="content" layout-align="center center" layout-wrap="" layout-padding="" flex="">
          <div ui-view="graph" style="height: 800px" flex=""></div>
          <div ng-if="graph.graphanalysed" ui-view="stems" style="height: 800px" flex=""></div>
        </div>
      </div>
    </div>
  </md-content>

</md-content>