<!-- graphs.toolbar-extension.html -->
<div ng-if="!appCtrl.$mdMedia('gt-md')" layout="row">
  <md-menu>
    <md-button ng-click="$mdMenu.open($event)" ng-class="{ 'md-icon-button' :  appCtrl.$mdMedia('xs') || appCtrl.$mdMedia('xxs')}" aria-label="Actions">
      <md-tooltip ng-if="appCtrl.$mdMedia('xs') || appCtrl.$mdMedia('xxs')" md-direction="bottom">Actions</md-tooltip>
      <md-icon ng-if="appCtrl.$mdMedia('xs') || appCtrl.$mdMedia('xxs')">more_vert</md-icon>
      <span ng-if="appCtrl.$mdMedia('sm') || appCtrl.$mdMedia('md')">Actions</span>
    </md-button>
    <md-menu-content width="5">
      <md-menu-item ng-if="!vm.graphs[vm.selectedGraphIndex].graphanalysed">
        <md-button ng-click="vm.onGraphAnalyse(vm.graphs[vm.selectedGraphIndex])" aria-label="">Analyse Graph</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button ng-click="vm.onGraphEdit(vm.graphs[vm.selectedGraphIndex])" aria-label="">Edit Graph</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button ng-click="vm.onGraphDuplicate(vm.graphs[vm.selectedGraphIndex])" aria-label="">Duplicate Graph</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button ng-click="vm.onGraphLayout(vm.graphs[vm.selectedGraphIndex])" aria-label="">Save Graph Layout</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button ng-click="vm.exportCSV(vm.graphs[vm.selectedGraphIndex])" aria-label="">Export as CSV</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button ng-click="vm.exportJSON(vm.graphs[vm.selectedGraphIndex])" aria-label="">Export as JSON</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button ng-click="vm.onGraphReset(vm.graphs[vm.selectedGraphIndex])" aria-label="">Reset Graph</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button class="md-warn" ng-click="vm.onGraphRemove(vm.graphs[vm.selectedGraphIndex])" aria-label="">Remove Graph</md-button>
      </md-menu-item>
      <md-divider ng-if="vm.enableOption()"></md-divider>
      <md-menu-item ng-if="vm.graphs.length>1 && $mdMedia('gt-md') && vm.enableOption()">
        <md-button ng-click="vm.showGraphCompare($event)" aria-label="">Compare Graph</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.enableOption()">
        <md-button ng-click="vm.onNewGraph()" aria-label="">New Graph</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-button class="md-icon-button" ng-click="appCtrl.toggleSidenav('graph-info-sidenav')" aria-label="Information Sidenav">
    <md-icon>info_outline</md-icon>
  </md-button>
</div>