<!-- graph.html -->
<md-card md-theme="graph_panel" layout="column" layout-fill="">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Graph Visualisation</span>
      </h2>
      <span flex=""></span>
      <md-button ng-click="vm.showGraphKey($event)" class="md-icon-button" aria-label="Show KEY">
        <md-tooltip md-direction="bottom">Show KEY</md-tooltip>
        KEY
      </md-button>
      <md-button ng-click="vm.goFullscreenGraph($event, graph)" class="md-icon-button" aria-label="Go fullscreen">
        <md-tooltip md-direction="bottom">Go fullscreen</md-tooltip>
        <md-icon>fullscreen</md-icon>
      </md-button>
      <md-button ng-click="vm.showGraphHelp($event)" class="md-icon-button" aria-label="Help">
        <md-tooltip md-direction="bottom">Help</md-tooltip>
        <md-icon>help_circle</md-icon>
      </md-button>
      <md-menu>
          <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Options">
              <md-tooltip md-direction="bottom">Panel Options</md-tooltip>
              <md-icon>more_vert</md-icon>
          </md-button>
          <md-menu-content width="3">
              <md-menu-item>
                  <md-button ng-click="vm.saveAsImage()" aria-label="">Save as image</md-button>
              </md-menu-item>
              <md-menu-item>
                  <md-button ng-click="vm.onGraphReload(graph)" aria-label="">Reload graph</md-button>
              </md-menu-item>
          </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <md-tabs ng-if="graph.graphanalysed" md-selected="vm.selectedConfIndex[graph.id]" class="md-primary no-radius" md-enable-disconnect="" md-no-ink="" flex="100">
    <md-tab ng-repeat="conf in graph.graphcontrolconf" label="Configuration {{$index+1}}">
      <div style="height:650px" layout="row" layout-align="center center" layout-wrap="" layout-padding="">
        <div id="tab-{{graph.id}}-{{$index}}" ng-if="vm.drawGraph(graph, $index)" vis-network="" ng-model="graph" network="vm.networks[graph.id]" conf-index="$index" node-shape="vm.activeSettings.graphVisualisation.value" reload="vm.reloadGraph[graph.id]" layout-fill=""></div>
      </div>
    </md-tab>
  </md-tabs>

  <div ng-if="!graph.graphanalysed" flex="100">
    <div style="height:720px" layout="row" layout-align="center center" layout-wrap="" layout-padding="">
      <div id="tab-{{graph.id}}" ng-if="vm.drawGraph(graph)" vis-network="" ng-model="graph" network="vm.networks[graph.id]" conf-index="0" node-shape="vm.activeSettings.graphVisualisation.value" reload="vm.reloadGraph[graph.id]" layout-fill=""></div>
    </div>
  </div>

</md-card>