<md-dialog md-theme="stems_panel" aria-label="Graph Key">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Key (Stems)</h2>
        <span flex=""></span>
        <md-button ng-click="cancel()" class="md-icon-button" aria-label="Close key dialogue">
          <md-tooltip md-direction="bottom">Close key dialogue</md-tooltip>
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-margin="">
      <table style="margin:auto;">
        <tr><th colspan="5" style="padding:10px; border-bottom: 1px solid #efefef;">Showing Node Shapes</th></tr>
        <tr>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.nodeStroke,'fill':color.nodeColor}" style="stroke-width: 1px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.easynodeStrokeColor,'fill':color.easynodeColor}" style="stroke-width: 1px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.mednodeStrokeColor,'fill':color.mednodeColor}" style="stroke-width: 1px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.hardnodeStrokeColor,'fill':color.hardnodeColor}" style="stroke-width: 1px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td><p>&nbsp;&nbsp;neutral / easy / medium / hard controllable nodes&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.nodeStroke,'fill':color.ctrlnodeColor}" style="stroke-width: 2px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.easynodeStrokeColor,'fill':color.ctrlnodeColor}" style="stroke-width: 2px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.mednodeStrokeColor,'fill':color.ctrlnodeColor}" style="stroke-width: 2px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td style="text-align:center;">
            <svg class="jsnx" width="40px" height="60px" style="opacity: 1;"><g><g class="nodes"><g class="node" transform="translate(20,30)scale(1)"><circle class="node-shape" r="13" ng-style="{'stroke':color.hardnodeStrokeColor,'fill':color.ctrlnodeColor}" style="stroke-width: 2px;"></circle><text style="text-anchor: middle; dominant-baseline: central; -webkit-user-select: none; fill: #ffffff;">1</text></g></g></g></svg>
          </td>
          <td><p>&nbsp;&nbsp;neutral / easy / medium / hard control nodes&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center;">
            <svg class="jsnx" width="60px" height="60px" style="opacity: 1;"><g><g class="edges"><g class="edge" transform="translate(73,17)rotate(180)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.weakplus}" style="stroke-width: 0px;"></path></g><g class="edge" transform="translate(-10,36)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.mediumplus}" style="stroke-width: 0px;"></path></g><g class="edge" transform="translate(73,47)rotate(180)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.strongplus}" style="stroke-width: 0px;"></path></g></g></g></svg>
          </td>
          <td><p>&nbsp;&nbsp;positive connections (weak, medium, strong)&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center;">
            <svg class="jsnx" width="60px" height="60px" style="opacity: 1;"><g><g class="edges"><g class="edge" transform="translate(-10,17)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.weakminus}" style="stroke-width: 0px;"></path></g><g class="edge" transform="translate(73,29)rotate(180)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.mediumminus}" style="stroke-width: 0px;"></path></g><g class="edge" transform="translate(-10,47)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.strongminus}" style="stroke-width: 0px;"></path></g></g></g></svg>
          </td>
          <td><p>&nbsp;&nbsp;negative connections (weak, medium, strong)&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center;">
            <svg class="jsnx" width="60px" height="40px" style="opacity: 1;"><g><g class="edges"><g class="edge" transform="translate(-10,17)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.nodeStroke}" style="stroke-width: 0px;"></path></g><g class="edge" transform="translate(73,29)rotate(180)"><path class="line" d="M 21.5 0 L 21.5 -3 L 50.901531782132565 -3 L 50.901531782132565 -6 L 62.901531782132565 0 z" ng-style="{'fill':color.nodeStroke}" style="stroke-width: 0px;"></path></g></g></g></svg>
          </td>
          <td><p>&nbsp;&nbsp;neutral connections&nbsp;&nbsp;</p></td>
        </tr>
        <tr><th colspan="5" style="padding:10px; border-bottom: 1px solid #efefef;">Showing Node Labels</th></tr>
        <tr>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.nodeColor, 'border': '1px solid ' + color.nodeStroke}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.easynodeColor, 'border': '1px solid ' + color.easynodeStrokeColor}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.mednodeColor, 'border': '1px solid ' + color.mednodeStrokeColor}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.hardnodeColor, 'border': '1px solid ' + color.hardnodeStrokeColor}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td><p>&nbsp;&nbsp;neutral / easy / medium / hard controllable nodes&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.ctrlnodeColor, 'border': '2px solid ' + color.nodeStroke}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.ctrlnodeColor, 'border': '2px solid ' + color.easynodeStrokeColor}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.ctrlnodeColor, 'border': '2px solid ' + color.mednodeStrokeColor}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td style="text-align:center;">
            <div class="chip" ng-style="{'background':color.ctrlnodeColor, 'border': '2px solid ' + color.hardnodeStrokeColor}" style="float:none;"><div class="chip-content"><span>Label</strong></div></div>
          </td>
          <td><p>&nbsp;&nbsp;neutral / easy / medium / hard control nodes&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center;">
            <div class="chip-sign" ng-style="{'color':color.weakplus}" style="float:none">+&nbsp;&nbsp;</div>
            <div class="chip-sign" ng-style="{'color':color.mediumplus}" style="float:none">+&nbsp;&nbsp;</div>
            <div class="chip-sign" ng-style="{'color':color.strongplus}" style="float:none">+&nbsp;&nbsp;</div>
          </td>
          <td><p>&nbsp;&nbsp;positive connections (weak, medium, strong)&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center;">
            <div class="chip-sign" ng-style="{'color':color.weakminus}" style="float:none">-&nbsp;&nbsp;</div>
            <div class="chip-sign" ng-style="{'color':color.mediumminus}" style="float:none">-&nbsp;&nbsp;</div>
            <div class="chip-sign" ng-style="{'color':color.strongminus}" style="float:none">-&nbsp;&nbsp;</div>
          </td>
          <td><p>&nbsp;&nbsp;negative connections (weak, medium, strong)&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center;">
            <div class="chip-sign" ng-style="{'color':nodeStroke}" style="float:none">&gt;</div>
          </td>
          <td><p>&nbsp;&nbsp;neutral connections&nbsp;&nbsp;</p></td>
        </tr>
      </table>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex=""></span>
      <md-button ng-click="answer('got it')" style="margin-right:20px;">
        Got it
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>