<!-- upstream.html -->
<div id="upstream-content" ng-if="!upstreamAnalysisCtrl.content.isAnalysed" flex="">
  <div style="height:720px" layout="row" layout-align="center center">
    LOADING...
  </div>
</div>
<div id="upstream-content" ng-if="upstreamAnalysisCtrl.content.isAnalysed" ng-controller="UpstreamController as uscontroller" flex="">
  <md-tabs md-selected="upstreamAnalysisCtrl.selectedIndex" class="no-radius" md-enable-disconnect="" md-no-ink="" md-dynamic-height="" md-border-bottom="" flex="100">
    <md-tab ng-repeat="root_node in upstreamAnalysisCtrl.content.analysis.data.root_nodes" label="{{ upstreamAnalysisCtrl.content.analysis.data.root_nodes_labels[$index] }}">
      <div style="height:650px" layout="row" layout-align="center center" layout-wrap="" layout-padding="">
        <div 
         id="usa-{{upstreamAnalysisCtrl.graphForAnalysis.id}}-{{$index}}"
         ng-if="upstreamAnalysisCtrl.drawGraph($index)"
         vis-network=""
         network="upstreamAnalysisCtrl.network"
         analysis="upstreamAnalysisCtrl.content.analysis[root_node]"
         visualization="upstreamAnalysisCtrl.content.visualization"
         index="root_node"
         node-shape="graphManagerCtrl.activeSettings.graphVisualisation.value"
         reload="upstreamAnalysisCtrl.reloadGraph"
         layout-fill=""></div>
      </div>
    </md-tab>
  </md-tabs>
</div>