<!-- graph.controllability-analysis.html -->
<md-progress-linear ng-show="controllabilityAnalysisCtrl.progressLinear.active" md-mode="{{controllabilityAnalysisCtrl.progressLinear.mode}}" value="{{controllabilityAnalysisCtrl.progressLinear.value}}" md-buffer-value="{{controllabilityAnalysisCtrl.progressLinear.bufferValue}}"></md-progress-linear>

<section class="boxed wide-cards">

  <div layout-margin="" layout-padding=""></div>

  <div layout="column" layout-align="center center">

    <!-- Map Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Map</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/controllability-analysis/control-nodes/control-nodes.html'"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

    <!-- Stems Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Stems</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/controllability-analysis/stems/stems.html'" style="margin-bottom:8px; padding-bottom: 16px"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

  </div>
</section>