<!-- graph.controllability-analysis.html -->
<md-progress-linear ng-show="controlNodesAnalysisCtrl.progressLinear.active" md-mode="{{controlNodesAnalysisCtrl.progressLinear.mode}}" value="{{controlNodesAnalysisCtrl.progressLinear.value}}" md-buffer-value="{{controlNodesAnalysisCtrl.progressLinear.bufferValue}}"></md-progress-linear>

<section class="boxed wide-cards">

  <div layout-margin="" layout-padding=""></div>

  <div layout="column" layout-align="center center">

    <!-- Controllability Map Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Controllability Map</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/controllability-analysis/control-nodes/control-nodes.html'"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

    <!-- Controllability Stems Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Controllability Stems</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/controllability-analysis/stems/stems.html'" style="margin-bottom:8px; padding-bottom: 16px"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

    <!-- Explore Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Explore Map</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/node-updownstream-analysis/node-updownstream-analysis.html'"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

  </div>
</section>