<!-- graph.node-updownstream.html -->
<section class="boxed wide-cards">

  <div layout-margin="" layout-padding=""></div>

  <div layout="column" layout-align="center center">

    <!-- Node Up/Down Stream Analysis Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Node Up/Down Stream Analysis</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/node-updownstream-analysis/node-updownstream-analysis.html'"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

  </div>
</section>