<!-- graph.control-nodes.html -->
<md-progress-linear ng-show="controlNodesAnalysisCtrl.progressLinear.active" md-mode="{{controlNodesAnalysisCtrl.progressLinear.mode}}" value="{{controlNodesAnalysisCtrl.progressLinear.value}}" md-buffer-value="{{controlNodesAnalysisCtrl.progressLinear.bufferValue}}"></md-progress-linear>

<section class="boxed wide-cards">

  <div layout-margin="" layout-padding=""></div>

  <div layout="column" layout-align="center center">

    <!-- Control Nodes Analysis Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Control Nodes Analysis</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/control-nodes-analysis/control-nodes/control-nodes.html'"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

    <!-- Control Nodes Stems Analysis Card -->
    <md-card>
      <md-card-title layout-margin="">
        <md-card-title-text>
          <span class="md-headline">Control Nodes Stems Analysis</span>
        </md-card-title-text>
      </md-card-title>
      <div ng-include="'app/cctool/components/control-nodes-analysis/stems/stems.html'" style="margin-bottom:8px; padding-bottom: 16px"></div>
    </md-card>

    <div layout-margin="" layout-padding=""></div>
    <div layout-margin="" layout-padding=""></div>

  </div>
</section>