{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="keywords"    content="{% block meta_keywords %}{% endblock %}">
  <meta name="author"      content="{% block meta_author %}{% endblock %}">
  <meta name="apple-mobile-web-app-capable" content="yes"/>

  {% block favicon %}{% endblock %}

	<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300italic,300,400italic,500,500italic,700,900,700italic,900italic&subset=latin,greek-ext,greek' rel='stylesheet' type='text/css'>
  <!-- CSS Styles -->
  <link rel="stylesheet" type="text/css" href="{% static "cctool/css/bootstrap.min.css"    %}">
  <link rel="stylesheet" type="text/css" href="{% static "cctool/css/font-awesome.min.css" %}">
	{% block extra_css %}{% endblock %}

	{% block extra_head_js %}{% endblock %}

	{% block extra_head %}{% endblock %}
	
  </head>

  <body class="noselect">
  	{% block loader %}{% endblock %}

		{% block all_content %}{% endblock %}
  
  </body>

  <!-- SCRIPTS -->
  <script src="{% static "cctool/js/jquery-1.10.2.min.js"                  %}"></script>
  <script src="{% static "cctool/js/jquery-migrate-1.2.1.min.js"           %}"></script>
  <script src="{% static "cctool/js/bootstrap.min.js"                      %}"></script>
  <script src="{% static "cctool/js/jquery.easing.1.3.js"                  %}"></script>
  {% block extra_js %}{% endblock %}

</html>
