{% extends "cctool/base.html" %}
{% load staticfiles %}

{% block meta_title %}
CCTool > Register
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "cctool/css/other.css" %}">
{% endblock %}

{% block all_content %}
<div id="formwrap">
  {% if form.errors %}
  <p>Details provided are incorrect/incomplete. Please fill all the fields.</p>
  {% endif %}
  <form class="form-block" role="form" method="post" action="{% url "cctool:registeruser" %}">
    {% csrf_token %}
    <h2 id="brandLogo" class="form-block-heading">CCTool.</h2>
    <h5>Please fill all the fields in order to register.</h5>
    <input type="text" class="form-control topinput" name="username" value="" id="username" placeholder="User Name" required autofocus>
    <input type="text" class="form-control middleinput" name="first_name" value="" id="first_name" placeholder="First Name" required>
    <input type="text" class="form-control middleinput" name="last_name" value="" id="last_name" placeholder="Last Name" required>
    <input type="email" class="form-control middleinput" name="email" value="" id="email" placeholder="Email" required>
    <input type="password" class="form-control middleinput" name="password1" value="" id="password1" placeholder="Password" required>
    <input type="password" class="form-control bottominput" name="password2" value="" id="password2" placeholder="Retype Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="register">Register Me</button>
  </form>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static "cctool/js/other.js" %}"></script>
{% endblock %}