<md-dialog md-theme="graph_panel" aria-label="Graph Panel Compare">
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 class="md-title">Choose graphs to compare</h2>
        <div>
          <div ng-repeat="compare in compares() track by $index" flex>
            <md-input-container flex>
              <label>{{'Graph '+($index+1)}}</label>
              <md-select ng-model="selectedGraphs[$index]">
                <md-option ng-repeat="graph in graphs" value="{{$index}}">
                  {{graph.title}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" class="md-warn">
        Cancel
      </md-button>
      <md-button ng-click="answer('go')" ng-disabled="selectedGraphs.length<numberOfCompares" class="md-primary" style="margin-right:20px;">
        Go
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>