<!-- stems.html -->
<div id="control-nodes-stems-content" ng-if="!controllabilityAnalysisCtrl.content.isAnalysed" flex="">
  <div style="height:120px" layout="row" layout-align="center center">
    LOADING...
  </div>
</div>
<div id="control-nodes-stems-content" ng-if="controllabilityAnalysisCtrl.content.isAnalysed" ng-controller="StemsController as scontroller">
  <h1 class="md-title">Configuration {{controllabilityAnalysisCtrl.selectedConfIndex + 1}}</h1>
  <div class="simple-table-container">
    <table class="simple">
      <tbody>
        <tr ng-repeat="stemRoot in controllabilityAnalysisCtrl.content.analysis.data.controlConfigurations[controllabilityAnalysisCtrl.selectedConfIndex]">
          <td>
            <div
            jsnx-stem=""
            analysis="controllabilityAnalysisCtrl.content.analysis"
            visualization="controllabilityAnalysisCtrl.content.visualization"
            stem-root="stemRoot"
            index="controllabilityAnalysisCtrl.selectedConfIndex"
            node-shape="graphManagerCtrl.activeSettings.graphVisualisation.value"
            flex=""></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
