/* graph-editor.css */
#graph-editor-content ul.buckets
{
  margin: 24px 0 24px -8px;
  padding: 0;
  position: relative;
}

#graph-editor-content ul.buckets li
{
  list-style: none;
  margin: 0;
  text-align: center;
}

#graph-editor-content ul.buckets li md-card md-card-content
{
  padding: 0;
}

#graph-editor-content ul.buckets li a
{
  display: block;
  font-weight: 500;
  padding: 16px 0;
  text-decoration: none;
  -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  background-color: #ebebeb !important;
  box-shadow: none !important;
  margin-right: 0;
  margin-top: 0;
}

#graph-editor-content ul.buckets li a,
#graph-editor-content ul.buckets li a md-icon
{
  color: #666 !important;
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

#graph-editor-content ul.buckets li a:hover,
#graph-editor-content ul.buckets li a:focus,
#graph-editor-content ul.buckets li a:hover md-icon,
#graph-editor-content ul.buckets li a:focus md-icon
{
  color: #3F51B5 !important;
  background-color: #e0e0e0 !important;
}
#graph-editor-content ul.buckets.info li a:hover,
#graph-editor-content ul.buckets.info li a:focus,
#graph-editor-content ul.buckets.info li a:hover md-icon,
#graph-editor-content ul.buckets.info li a:focus md-icon
{
  color: #3F51B5 !important;
  background-color: #e0e0e0 !important;
}

#graph-editor-content md-icon.block
{
  color: #3F51B5;
  display: block;
  font-size: 50px !important;
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;
}
#graph-editor-content md-icon.inline
{
  color: #3F51B5;
  display: inline-block;
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
  line-height: 20px !important;
}

.ms-form-wizard md-tabs md-tabs-wrapper
{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas
{
  height: 72px;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper
{
  height: 72px;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item
{
  opacity: 1 !important;
  padding: 24px;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:before
{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 8;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:after
{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 8;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:first-of-type:before
{
  display: none;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:last-of-type:after
{
  display: none;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-disabled .ms-form-wizard-step-label .ms-form-wizard-step-number
{
  background: rgba(0, 0, 0, 0.12) !important;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item .md-ripple-container
{
  z-index: 11;
}
.ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-ink-bar
{
  display: none !important;
}
.ms-form-wizard .ms-form-wizard-step-label
{
  display: inline-block;
  position: relative;
  background: #FFFFFF;
  z-index: 10;
  padding: 0 16px;
  line-height: 24px;
}
.ms-form-wizard .ms-form-wizard-step-label .ms-form-wizard-step-number
{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin-right: 12px;
  border-radius: 50%;
  color: #FFFFFF !important;
}
.ms-form-wizard .ms-form-wizard-step-label .ms-form-wizard-step-number i
{
  line-height: 24px !important;
}
.ms-form-wizard .ms-form-wizard-step-label .ms-form-wizard-step-text
{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 24px;
}
.ms-form-wizard .ms-form-wizard-form
{
  padding: 24px 16px;
}
.ms-form-wizard .navigation
{
  padding: 16px;
}
.ms-form-wizard .navigation .steps
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 16px;
}
.ms-form-wizard .navigation .steps span
{
  width: 5px;
  height: 5px;
  margin: 0 4px;
  border-radius: 50%;
}
.ms-form-wizard .navigation .steps span:not(.md-accent-bg)
{
  background: rgba(0, 0, 0, 0.12);
}
.ms-form-wizard .navigation .steps span.selected
{
  width: 8px;
  height: 8px;
}