<!-- control-nodes.html -->
<div id="control-nodes-content" ng-if="!controllabilityAnalysisCtrl.content.isAnalysed" flex="">
  <div style="height:720px" layout="row" layout-align="center center">
    LOADING...
  </div>
</div>
<div id="control-nodes-content" ng-if="controllabilityAnalysisCtrl.content.isAnalysed" ng-controller="ControlNodesController as cncontroller" flex="">
  <md-tabs md-selected="controllabilityAnalysisCtrl.selectedConfIndex" class="no-radius" md-enable-disconnect="" md-no-ink="" md-dynamic-height="" md-border-bottom="" flex="100">
    <md-tab ng-repeat="conf in controllabilityAnalysisCtrl.content.analysis.data.controlConfigurations" label="Configuration {{$index+1}}">
      <div style="height:650px" layout="row" layout-align="center center" layout-wrap="" layout-padding="">
        <div 
         id="cna-{{controllabilityAnalysisCtrl.graphForAnalysis.id}}-{{$index}}"
         ng-if="controllabilityAnalysisCtrl.drawGraph($index)"
         vis-network=""
         network="controllabilityAnalysisCtrl.network"
         analysis="controllabilityAnalysisCtrl.content.analysis"
         visualization="controllabilityAnalysisCtrl.content.visualization"
         index="controllabilityAnalysisCtrl.selectedConfIndex"
         node-shape="graphManagerCtrl.activeSettings.graphVisualisation.value"
         reload="controllabilityAnalysisCtrl.reloadGraph"
         layout-fill=""></div>
      </div>
    </md-tab>
  </md-tabs>
  <div style="height:580px" ng-if="!(controllabilityAnalysisCtrl.content.visualization.legend | isEmpty)" layout-margin="">
    <div layout-padding=""></div>
    <div layout-padding=""></div>
    <md-divider></md-divider>
    <div layout-padding=""></div>
    <div layout-padding=""></div>
    <div style="height:450px">
      <div class="md-title">Legend</div>
      <div
        id="graph-legend"
        vis-network=""
        network="controllabilityAnalysisCtrl.legend"
        visualization="controllabilityAnalysisCtrl.content.visualization.legend"
        node-shape="graphManagerCtrl.activeSettings.graphVisualisation.value"
        layout-fill="">
      </div>
    </div>
  </div>
</div>
